@* @model QuanLyBanHang.Data.Entities.Product *@
@model QuanLyBanHang.ViewModels.ProductViewModel


@{
    ViewData["Title"] = "Thông tin chi tiết sản phẩm";
}

<h3>@Model.ProductName</h3>

<div>
    <hr />
    <dl class="row" style="min-height: 350px">
        <div class="col-4">
            <img class="img-fluid" src="@Model.ImagePath" alt="">
        </div>
        <div class="col-8 position-relative">
            <div class="row" style="height: 50px;">
                <dt class="col-4">
                    Sản phẩm:
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
            </div>
            <div class="row" style="height: 50px;">
                <dt class="col-4">
                    Giá:
                </dt>
                <dd class="col-8">
                    @{
                        var price = Model.Price.ToString("N0");
                        var prePrice = Model.Price * 0.97;
                        var prePriceText = prePrice.ToString("N0");
                    }
                    <span class="text-danger fw-bold fs-5">@prePriceText VND</span>
                    <span class="ms-2 text-decoration-line-through text-secondary">@price VND</span>
                    <span class="ms-2 text-danger">-3%</span>
                </dd>
            </div>
            <div class="row" style="height: 50px;">
                <dt class="col-4">
                    Số lượng:
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
            </div>
            <div class="row mt-5 position-absolute fixed-bottom">
                <a href="~/them-san-pham/@SlugGenerator.SlugGenerator.GenerateSlug(@Model.ProductName)-@Model.Id"
                    class="btn btn-danger col-4">Thêm giỏ hàng</a>
                <a asp-action="ShowProduct" class="btn btn-secondary col-4 ms-3">Quay lại</a>
            </div>
            <div class="row">
                <dt class="col-4">Phân loại</dt>
                <div class="col-8">
                    <div class="col">
                        <div class="row">
                            <div class="btn col-4 p-3 text-primary border border-primary">Sản phẩm mới</div>
                        </div>
                        <div class="row">
                            <div class="btn col-4 p-3 border mt-1">Sản phẩm 99%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dl>
    <hr>
    <div class="row fw-bold fs-2">Thông tin sản phẩm</div>
    <div class="row">
        <div class="col-6">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
</div>
<div>

</div>
