@* @model QuanLyBanHang.Data.Entities.Product *@
@model QuanLyBanHang.ViewModels.ProductViewModel


@{
    ViewData["Title"] = "Thông tin chi tiết sản phẩm";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a href="~/them-san-pham/@SlugGenerator.SlugGenerator.GenerateSlug(@Model.ProductName)-@Model.Id"
        class="btn btn-danger">Thêm giỏ hàng</a>
    <a asp-action="ShowProduct" class="btn btn-secondary">Quay lại</a>
</div>
